In [1]:
#importing the dataset
import pandas as pd

import numpy as np


dataset = pd.read_csv("heart.csv")

In [2]:
dataset.head(10)

dataset.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [3]:
del dataset["Sex"]

x = dataset.iloc[:,0:-1].values

y = dataset.iloc[:,-1]

print(x[:6])
print(y[:5])

[[40 'ATA' 140 289 0 'Normal' 172 'N' 0.0 'Up']
 [49 'NAP' 160 180 0 'Normal' 156 'N' 1.0 'Flat']
 [37 'ATA' 130 283 0 'ST' 98 'N' 0.0 'Up']
 [48 'ASY' 138 214 0 'Normal' 108 'Y' 1.5 'Flat']
 [54 'NAP' 150 195 0 'Normal' 122 'N' 0.0 'Up']
 [39 'NAP' 120 339 0 'Normal' 170 'N' 0.0 'Up']]
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [4]:
#Encoding categorical data
# pd.set_option("display.max_rows",15)
# print(dataset.iloc[:,6])

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# dataset.iloc[:,1] =label_encoder.fit_transform(dataset.iloc[:,1])
x[:,7] = label_encoder.fit_transform(x[:,7])
print(x[:6])
print(y[:5])
# x[5]

[[40 'ATA' 140 289 0 'Normal' 172 0 0.0 'Up']
 [49 'NAP' 160 180 0 'Normal' 156 0 1.0 'Flat']
 [37 'ATA' 130 283 0 'ST' 98 0 0.0 'Up']
 [48 'ASY' 138 214 0 'Normal' 108 1 1.5 'Flat']
 [54 'NAP' 150 195 0 'Normal' 122 0 0.0 'Up']
 [39 'NAP' 120 339 0 'Normal' 170 0 0.0 'Up']]
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [5]:
# dataset["ExerciseAngina"]=label_encoder.fit_transform(dataset["ExerciseAngina"])
# dataset

In [6]:
#OneHotEncodeing Encoding
#pd.set_option("display.max_rows",None)
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct  =  ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [1])],remainder = "passthrough" )
# ct1 = ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [9])],remainder = "passthrough" )
# ct2 = ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [11])],remainder = "passthrough" )
# ct3 = ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [16])],remainder = "passthrough" )
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x =ct.fit_transform(x)
# dataset = ct1.fit_transform(dataset)
# dataset = ct2.fit_transform(dataset)
# dataset = ct3.fit_transform(dataset)

print(x[:6])
print(y[:5])
# x = np.array(x)

[[0.0 1.0 0.0 0.0 40 140 289 0 'Normal' 172 0 0.0 'Up']
 [0.0 0.0 1.0 0.0 49 160 180 0 'Normal' 156 0 1.0 'Flat']
 [0.0 1.0 0.0 0.0 37 130 283 0 'ST' 98 0 0.0 'Up']
 [1.0 0.0 0.0 0.0 48 138 214 0 'Normal' 108 1 1.5 'Flat']
 [0.0 0.0 1.0 0.0 54 150 195 0 'Normal' 122 0 0.0 'Up']
 [0.0 0.0 1.0 0.0 39 120 339 0 'Normal' 170 0 0.0 'Up']]
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [7]:

ct1 = ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [12])],remainder = "passthrough" )
x = ct1.fit_transform(x)
print(x[:6])
print(y[:5])

[[0.0 0.0 1.0 0.0 1.0 0.0 0.0 40 140 289 0 'Normal' 172 0 0.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 49 160 180 0 'Normal' 156 0 1.0]
 [0.0 0.0 1.0 0.0 1.0 0.0 0.0 37 130 283 0 'ST' 98 0 0.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 48 138 214 0 'Normal' 108 1 1.5]
 [0.0 0.0 1.0 0.0 0.0 1.0 0.0 54 150 195 0 'Normal' 122 0 0.0]
 [0.0 0.0 1.0 0.0 0.0 1.0 0.0 39 120 339 0 'Normal' 170 0 0.0]]
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [8]:
x = np.array(x)
x[:5]

array([[0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 40, 140, 289, 0, 'Normal',
        172, 0, 0.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 49, 160, 180, 0, 'Normal',
        156, 0, 1.0],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 37, 130, 283, 0, 'ST', 98, 0,
        0.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 48, 138, 214, 0, 'Normal',
        108, 1, 1.5],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 54, 150, 195, 0, 'Normal',
        122, 0, 0.0]], dtype=object)

In [9]:
# #Declare independent and dependent variable
# pd.set_option("display.max_rows",None)
# pd.set_option("display.max_columns",None)
# dataset = pd.DataFrame(dataset)
ct2 = ColumnTransformer(transformers = [("encoder", OneHotEncoder(), [11])],remainder = "passthrough" )
x = ct2.fit_transform(x)
# x = np.array(x)
# x[:5]
print(x[:6])
print(y[:5])

[[0.0 1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 40 140 289 0 172 0 0.0]
 [0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 49 160 180 0 156 0 1.0]
 [0.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 37 130 283 0 98 0 0.0]
 [0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 48 138 214 0 108 1 1.5]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 54 150 195 0 122 0 0.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 39 120 339 0 170 0 0.0]]
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [10]:
#Splitting Data Set
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
# for i in range (10,30, 1):
#     size = i/100

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state =0)
sc = StandardScaler()
x_train =sc.fit_transform(x_train)
x_train = np.array(x_train)
x_test  =sc.fit_transform(x_test)
x_test = np.array(x_test)
y_pred  = classifier.predict(x_test)

NameError: name 'classifier' is not defined

In [14]:
#Standard SCaling
from sklearn.svm import SVC
classifier = SVC (kernel = "linear", random_state = 0)
classifier.fit(x_train, y_train)
y_pred  = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(accuracy_score(y_test, y_pred))

0.8130434782608695

In [16]:
from sklearn.svm import SVC
classifier = SVC (kernel = "rbf", random_state = 0)
classifier.fit(x_train, y_train)
y_pred  = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred))

[[ 70  22]
 [ 16 122]]
0.8347826086956521

0 0.782608695652174
1 0.782608695652174
2 0.7789855072463768
3 0.782608695652174
4 0.782608695652174
5 0.782608695652174
6 0.782608695652174
7 0.7789855072463768
8 0.782608695652174
9 0.7789855072463768
10 0.782608695652174
11 0.782608695652174
12 0.782608695652174
13 0.7789855072463768
14 0.782608695652174
15 0.7789855072463768
16 0.782608695652174
17 0.782608695652174
18 0.7789855072463768
19 0.7789855072463768
20 0.7789855072463768
21 0.782608695652174
22 0.782608695652174
23 0.7789855072463768
24 0.7789855072463768
25 0.782608695652174
26 0.7789855072463768
27 0.7789855072463768
28 0.782608695652174
29 0.782608695652174
30 0.7789855072463768
31 0.7789855072463768
32 0.782608695652174
33 0.7789855072463768
34 0.782608695652174
35 0.782608695652174
36 0.782608695652174
37 0.782608695652174
38 0.7789855072463768
39 0.782608695652174
40 0.7789855072463768
41 0.782608695652174
42 0.7789855072463768
43 0.782608695652174
44 0.782608695652174
45 0.782608695652174
46 0.782608695652174
47 0.782608695652174
48 0.782608695652174
49 0.7789855072463768
50 0.7789855072463768
51 0.7789855072463768
52 0.782608695652174
53 0.782608695652174
54 0.7789855072463768
55 0.782608695652174
56 0.782608695652174
57 0.782608695652174
58 0.7789855072463768
59 0.782608695652174
60 0.7789855072463768
61 0.782608695652174
62 0.782608695652174
63 0.7789855072463768
64 0.7789855072463768
65 0.7789855072463768
66 0.782608695652174
67 0.782608695652174
68 0.7789855072463768
69 0.782608695652174
70 0.7789855072463768
71 0.7789855072463768
72 0.7789855072463768
73 0.782608695652174
74 0.7789855072463768
75 0.7789855072463768
76 0.782608695652174
77 0.7789855072463768
78 0.7789855072463768
79 0.782608695652174
80 0.782608695652174
81 0.7789855072463768
82 0.782608695652174
83 0.782608695652174
84 0.7789855072463768
85 0.782608695652174
86 0.782608695652174
87 0.782608695652174
88 0.782608695652174
89 0.7789855072463768
90 0.7789855072463768
91 0.7789855072463768
92 0.7789855072463768
93 0.782608695652174
94 0.782608695652174
95 0.782608695652174
96 0.782608695652174
97 0.7789855072463768
98 0.782608695652174
99 0.7789855072463768

[[ 76  42]
 [ 19 139]]
0.7789855072463768